{% extends 'base.html' %}

{% block content %}

<br>
<div class="container is-max-desktop">
	<div class="col-md-6">
		<div class="card card-body">


			<p>Are you sure you want to delete "{{item}}"?</p>

			<form action="{% url 'delete_offer' item.id  %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'manage' %}">Cancel</a>

				<input class="button has-background-danger-light has-text-danger" type="submit" name="Confirm">
			</form>
		</div>
	</div>
</div>


{% endblock %}