{% extends 'base.html' %}

{% block content %}
<div class="container is-max-desktop">
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="title is-1"> {{name}}  </p>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <form action="" method="get">
                    <button id="{{semester}}" style=" margin: 15px;" onclick="onClear('{{semester}}');" class="button is-danger" name="delete_exchange" value="">Clear</button>
                </form>
            </div>
        </div>
    </nav>

    <table class='table'>
        <thead>
        <tr class="is-selected">
            <th>Subject</th>
            <th>Advertiser</th>
            <th>Wanted</th>
            <th>Comment</th>
            <th>
            </th>
        </tr>
        <tr></tr>
        </thead>

        <tfoot>
        <tr>
            <th>Subject</th>
            <th>Advertiser</th>
            <th>Wanted</th>
            <th>Comment</th>
            <th>
            </th>
        </tr>
        </tfoot>
        <tbody>
        {% for item in items %}
        <tr>
            <td>
                <strong>{{item.subject}}</strong>
                <p>{{item.time}} | {{item.teacher}}</p>
            </td>
            <td>
                {% if item.student %}
                {{item.student}}
                {% endif %}
            </td>
            <td>
                <strong>
                    {% if item.preferred_days != "None" %}
                    {{item.preferred_days}}
                    {% else %}
                    any day
                    {% endif %}
                </strong>|
                <strong>
                    {% if item.preferred_hours != "None"%}
                    {{item.preferred_hours}}
                    {% else %}
                    any hour
                    {% endif %}
                </strong>
                <p>
                    {% if item.preferred_teachers %}
                    {{item.preferred_teachers}}
                    {% else %}
                    any teacher
                    {% endif %}
                </p>
            </td>
            <td>
                {% if item.comment %}
                {{item.comment}}
                {% endif %}
            </td>
            <td>
                <form action="" method="get">
                    <button id="{{item.id}}" onclick="onDelete('{{item.id}}');" class="button is-danger is-outlined" name="delete_offer" value="">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
            {% endfor %}
            </tbody>
    </table>

</div>

<script>
    function onDelete(id) {
        if (confirm('Are you sure you want to delete this offer?')) {
            document.getElementById(id).value = id;
        }else{
            document.getElementById(id).value = "";
        }
    }

    function onClear(id) {
        if (confirm("Are you sure you want to delete all offers from Semester " + id + "?")) {
            document.getElementById(id).value = id;
        } else {
            document.getElementById(id).value = "";
        }
    }

</script>
{% endblock %}