{% extends 'base.html' %}

{% block content %}

<div style="padding-top: 20px;">
    <h1 class="hero ">Manage Exchanges</h1>
</div>
<a class="button is-primary" href="{% url 'add-exchange' %}"
   style=" margin: 15px; height: 50px; width: 200px; font-size: 20px;">
    Add Exchange
</a>


<section class="box ">
    {% for exchange in exchanges %}
    <div class="card block ">
        <header class="card-header">
            <p class="card-header-title">
                {{exchange.name}}
            </p>
            <a class="button is-dark has-text-primary" style=" margin: 15px;" href="/exchange/manage/{{exchange.id}}">
                Go
            </a>
        </header>
    </div>
    {% endfor %}
</section>


{% endblock %}