{% extends 'base.html' %}

{% block content %}

    <body style="background-color: #ffde59">
    <div style="padding-top: 20px;">
        <h1 class="hero ">Manage Exchanges</h1>
    </div>
    <a class="button is-primary" href="{% url 'add-exchange' %}"  style=" margin: 15px; height: 50px; width: 200px; font-size: 20px;">
        Add Exchange
      </a>



    <section class="box ">
        <div class="card block ">
            <header class="card-header">
                <p class="card-header-title">
                    Exchange1
                </p>
                <button class="button is-dark has-text-primary" style=" margin: 15px;">
                    Manage
                </button>
            </header>
        </div>

        <div class="card block">
            <header class="card-header">
                <p class="card-header-title">
                    Exchange2
                </p>
                <button class="button is-dark has-text-primary" style=" margin: 15px;">
                    Manage
                </button>
            </header>
        </div>
        <div class="card block">
            <header class="card-header">
                <p class="card-header-title">
                    Exchange3
                </p>
                <button class="button is-dark has-text-primary" style=" margin: 15px;">
                    Manage
                </button>
            </header>
        </div>
        <div class="card block">
            <header class="card-header">
                <p class="card-header-title">
                    Exchange4
                </p>
                <button class="button is-dark has-text-primary" style=" margin: 15px;">
                    Manage
                </button>
            </header>
        </div>
        <div class="card block">
            <header class="card-header">
                <p class="card-header-title">
                    Exchange5
                </p>
                <button class="button is-dark has-text-primary" style=" margin: 15px;">
                    Manage
                </button>
            </header>
        </div>

    </section>

    </body>


{% endblock %}