{% extends 'base.html' %}

{% block content %}
<div class="container is-max-desktop">

<section class="box mt-6 py-5">
    <h1 class="hero">Available offers</h1>
    <p>Want to add your own offer? <a href="{% url 'add-offer' %}">Click here!</a></p>
</section>
<a class="button is-primary" href="{% url 'edit-offer' %}"
   style=" margin: 15px; height: 50px; width: 200px; font-size: 20px;">
    Edit offer
</a>
<section class="box">
    <div class="columns">
      <!-- ↓↓↓ Wykomentowana sekcja z filtrami ↓↓↓ -->
        <!-- <div id="sidebar" class="column is-one-quarter">
            <nav class="panel">
                <p class="panel-heading">
                  Search offers
                </p>
                <p class="panel-tabs">
                  <a class="is-active">Subjects</a>
                  <a>Teachers</a>
                  <a>Paths</a>
                  <a>Days</a>
                  <a>Hours</a>
                </p>
                <a class="panel-block is-active">
                  Subject 1
                </a>
                <a class="panel-block">
                  Subject 2
                </a>
                <a class="panel-block">
                    Subject 3
                  </a>
                  <a class="panel-block">
                    Subject 4
                  </a>
                  <a class="panel-block">
                    Subject 5
                  </a>
                <label class="panel-block">
                  <input type="checkbox">
                  remember me
                </label>
                <div class="panel-block">
                  <button class="button is-link is-outlined is-fullwidth">
                    Reset all filters
                  </button>
                </div>
              </nav>
        </div> -->

        {% if offers1 %}
        
        <div id="col1" class="column">

          {% for offer in offers1 %}
            <div class="card block">
                <header class="card-header">
                  <p class="card-header-title">
                    {{ offer.subject }}
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <em>{{offer.student}}</em> is giving away:
                    <hr class="my-2">
                    {{offer.time}} <br>
                    With: {{offer.teacher}}
                    <hr class="my-2">
                    {% if offer.preferred_days or offer.preferred_times or offer.preferred_teachers %}
                      {% if offer.preferred_days %}
                        <p>Preferred days: {{offer.preferred_days}}</p>
                      {% endif %}
                      {% if offer.preferred_times %}
                        <p>Preferred times: {{offer.preferred_times}}</p>
                      {% endif %}
                      {% if offer.preferred_teachers %}
                        <p>Preferred teachers: {{offer.preferred_teachers}}</p>
                      {% endif %}
                    {% else %}
                      Anything
                    {% endif %}
                    <br>
                    <!-- todo: miejsce na wypisanie czasu dodania oferty -->
                    <!-- <em>23:09, 04/01/2021</em> -->
                  </div>
                </div>
                <footer class="card-footer">
                  <!-- <a href="#" class="card-footer-item">Comment</a> -->
                  <a href="#" class="card-footer-item">Accept</a>
                </footer>
              </div>
          {% endfor %}

        </div>

        <div id="col2" class="column">
            {% for offer in offers2 %}
            <div class="card block">
                <header class="card-header">
                  <p class="card-header-title">
                    {{ offer.subject }}
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <em>{{offer.student}}</em> is giving away:
                    <hr class="my-2">
                    {{offer.time}} <br>
                    With: {{offer.teacher}}
                    <hr class="my-2">
                    {% if offer.preferred_days or offer.preferred_times or offer.preferred_teachers %}
                      {% if offer.preferred_days %}
                        <p>Preferred days: {{offer.preferred_days}}</p>
                      {% endif %}
                      {% if offer.preferred_times %}
                        <p>Preferred days: {{offer.preferred_times}}</p>
                      {% endif %}
                      {% if offer.preferred_teachers %}
                        <p>Preferred days: {{offer.preferred_teachers}}</p>
                      {% endif %}
                    {% else %}
                      Anything
                    {% endif %}
                    <br>
                    <!-- todo: miejsce na wypisanie czasu dodania oferty -->
                    <!-- <em>23:09, 04/01/2021</em> -->
                  </div>
                </div>
                <footer class="card-footer">
                  <!-- <a href="#" class="card-footer-item">Comment</a> -->
                  <a href="#" class="card-footer-item">Accept</a>
                </footer>
              </div>
          {% endfor %}
        </div>

        {% else %}

        <div class='column'>
          There are no offers available.
        </div>

        {% endif %}
    </div>
</section>
</div>
{% endblock %}