{% extends 'base.html' %}

{% block content %}

<section class="box mt-6 py-5">
    <h1 class="hero">Available offers</h1>
    <p>Want to add your own offer? <a href="#">Click here!</a></p>
</section>

<section class="box">
    <div class="columns">
        <div id="sidebar" class="column is-one-quarter">
            <nav class="panel">
                <p class="panel-heading">
                  Search offers
                </p>
                <p class="panel-tabs">
                  <a class="is-active">Subjects</a>
                  <!-- <a>Teachers</a>
                  <a>Paths</a>
                  <a>Days</a>
                  <a>Hours</a> -->
                </p>
                <a class="panel-block is-active">
                  Subject 1
                </a>
                <a class="panel-block">
                  Subject 2
                </a>
                <a class="panel-block">
                    Subject 3
                  </a>
                  <a class="panel-block">
                    Subject 4
                  </a>
                  <a class="panel-block">
                    Subject 5
                  </a>
                <!-- <label class="panel-block">
                  <input type="checkbox">
                  remember me
                </label> -->
                <div class="panel-block">
                  <button class="button is-link is-outlined is-fullwidth">
                    Reset all filters
                  </button>
                </div>
              </nav>
        </div>

        <div id="col1" class="column">
            <div class="card block">
                <header class="card-header">
                  <p class="card-header-title">
                    Subject 1
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <em>Obi-Wan Kenobi</em> is giving away:
                    <hr class="my-2">
                    Term 1 <br>
                    With: Teacher 1
                    <hr class="my-2">
                    Accepting: <br>
                    Anything
                    <br>
                    <em>23:09, 04/01/2021</em>
                  </div>
                </div>
                <footer class="card-footer">
                  <!-- <a href="#" class="card-footer-item">Comment</a> -->
                  <a href="#" class="card-footer-item">Accept</a>
                </footer>
              </div>
              <div class="card block">
                <header class="card-header">
                  <p class="card-header-title">
                    Subject 1
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <em>Obi-Wan Kenobi</em> is giving away:
                    <hr class="my-2">
                    Term 2 <br>
                    With: Teacher 1
                    <hr class="my-2">
                    Accepting: <br>
                    Term 3
                    With: Teacher 3
                    <br>
                    <em>23:09, 04/01/2021</em>
                  </div>
                </div>
                <footer class="card-footer">
                  <!-- <a href="#" class="card-footer-item">Comment</a> -->
                  <a href="#" class="card-footer-item">Accept</a>
                </footer>
              </div>
        </div>

        <div id="col2" class="column">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title">
                    Subject 2
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                    <em>Obi-Wan Kenobi</em> is giving away:
                    <hr class="my-2">
                    Term 1 <br>
                    With: Teacher 1
                    <hr class="my-2">
                    Accepting: <br>
                    Anything
                    <br>
                    <hr class="my-2">
                    Additional info: <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo iure quae omnis excepturi molestiae inventore? Nulla dolores quod impedit modi voluptate voluptatem vitae provident hic. Veritatis tempora aspernatur necessitatibus illum. <br>
                    <em>23:09, 04/01/2021</em>
                  </div>
                </div>
                <footer class="card-footer">
                  <!-- <a href="#" class="card-footer-item">Comment</a> -->
                  <a href="#" class="card-footer-item">Accept</a>
                </footer>
              </div>
        </div>
    </div>
</section>

{% endblock %}