{% extends 'base.html' %}

{% block content %}

{% load static %}
<style>
  .day_container{
   position: relative;
   background-color:  hsl(171, 40%, 70%) ;
   height: 100vh;
   max-height:700px;
   border-radius: 25px;

  }
  .subject_container{
    position: absolute;
    opacity: 1;
    padding-right: 2%;
    padding-left: 2%;

    background: whitesmoke;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: inherit;

  }
  .subject_container:hover {
  background-color: hsl(48, 100%, 67%);
}





</style>

    <!-- Desktop-->

    <div class="columns is-vcentered is-centered">
        {% for day  in context %}

        <div class='column is-2'>
            <p class="title is-2 has-text-centered">{{day.name}}</p>
            <div class='day_container'>
                {% for class in day.schedule %}
                <form action="{% url 'add-offer' %}" method="post">
                    {% csrf_token %}                                                              
                    <button type="submit" name='schedule_button' value={{class.id | safe}} class="subject_container"
                     onclick="return confirm('You selected {{class.subject_name}}, {{day.name}} {{class.time}}. Are you sure?')"
                      style="top: {{class.top | safe}}%; bottom: {{class.bottom | safe }}%; left: {{class.left |safe}}%; width: {{class.width | safe}}%">

                        <div>

                            <div class="is-11"><span>{{class.time}}</span>
                                {% if class.week %} <span class="tag is-primary" style="float:right">{{class.week}}</span> {% endif %}
                            </div>

                            <div>{{class.subject_name}} </div>
                            <div>{{class.teacher}} </div>
                        </div>

                    </button>
                </form>

                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}