{% extends 'base.html' %}

{% block content %}
<div class="container is-max-desktop">

<div class='content box mt-6'>

    <h1 class="hero">Your offers</h1>

    <a class="button is-primary block" href="{% url 'schedule' %}">Add new offer</a>

    {% if offers %}

    <table class='table is-striped is-hoverable is-fullwidth'>
        <thead>
        <tr class="has-background-primary">
                <th class="has-text-primary-light">What you have</th>
                <th class="has-text-primary-light">What you are offered</th>
                <th class="has-text-primary-light">You can swap with</th>
                <th class="has-text-primary-light">You can swap with</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for offer in offers %}
        <tr>
            <td><strong>{{offer.subject}}</strong>
            <td> {% if offer.other_student %}
                <strong>{{offer.subject}}</strong> {{offer.other_time}}, {{offer.other_teacher}}
                {% endif %}
            </td>
            <td>
                {% if offer.other_student %}
                {{offer.other_student}}
                {% endif %}
            </td>
            <td>
                {% if offer.state == "Closed" %}

                Closed

                {% endif %}
                {% if offer.state == "Pending" %}

                <button class="button is-success">
                    <span class="icon is-large">
                        <span class="material-icons">
                            check_circle
                        </span>
                    </span>
                </button>
                <button class="button is-danger">
                    <span class="icon is-large">
                        <span class="material-icons">
                            highlight_off
                        </span>
                    </span>
                </button>

                {% endif %}
                {% if offer.state == "New" %}
                Waiting for offers

                {% endif %}

            </td>
            <td>
                <form action="" method="get">
                    <button id="{{offer.id}}" onclick="onDelete('{{offer.id}}');" class="button has-background-danger-light has-text-danger" name="delete_user_offer" value="">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
            {% endfor %}
            </tbody>
    </table>

    {% else %}

    <p>You have no offers.</p>

    {% endif %}

</div>
</div>
<script>
    function onDelete(id) {
        if (confirm('Are you sure you want to delete this offer ' + id + "?")) {
            document.getElementById(id).value = id;
        }else{
            document.getElementById(id).value = "";
        }
    }
</script>
{% endblock %}