{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container content">
    <section class="section box mt-6 mb-6">
        
        <form method="POST">
            {% csrf_token %}
            
            <fieldset>
                <legend class="title">Reset password</legend>
                {{ form|crispy }}
            </fieldset>
    
            <a class="button is-primary mt-5" href="{% url 'password-reset-done' %}">Reset password</a>
        </form>

    </section>
</div>

{% endblock %}