{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container content">

    <h1 class="hero mt-6">Welcome, {{user.username}}!</h1>

    <section class="section box">
        <h3 class="hero">User settings</h3>
        <hr>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last Name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>

        <button class="button is-danger mt-4">Edit</button>
    </section>

    <section class="section box">
        <h3 class="hero">Profile settings</h3>
        <hr>
        <p>Index: {{ user.student.index_number }}</p>
        <p>Semester: {{ user.student.semester }}</p>
        <p>Path: {{ user.student.path }}</p>

        <button class="button is-danger mt-4">Edit</button>
    </section>

</div>

{% endblock %}