{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container content mb-6">

    <h1 class="hero mt-6">Welcome, {{user.username}}!</h1>

    <section class="section box">
        <h3 class="hero">Account settings</h3>
        <hr>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Password:</strong> ********** </p>

        <a class="button is-primary is-outlined mt-4" href="#">Reset e-mail</a><br>
        <a class="button is-primary is-outlined mt-4" href="#">Reset password</a>
    </section>

    <section class="section box">
        <h3 class="hero">Profile settings</h3>
        <hr>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>First name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        <p><strong>Index:</strong> {{ user.student.index_number }}</p>
        <p><strong>Semester:</strong> {{ user.student.semester }}</p>
        <p><strong>Path:</strong> {{ user.student.path }}</p>

        <a class="button is-primary is-outlined mt-4 " href="{% url 'update-profile'%}">Edit</a>
    </section>

    <section class="section box has-background-danger-light">
        <h3 class="hero has-text-danger">Danger zone</h3>
        <hr>
        <a class="button is-danger mt-4" href="#" onclick="return confirm('Are you sure?');">Delete account</a>
    </section>

</div>

{% endblock %}