{% extends 'base.html' %}
{% block content %}

<div class="container content box">
        
        <form method="POST">
            {% csrf_token %}
            
            <fieldset>
                <legend class="title">Are you sure you want to delete your account?</legend>
            </fieldset>
    
            <button type="submit" class="button is-danger mt-5" onclick="return confirm('Are you sure?');">Yes, delete</button>
            <a class="button is-danger is-outlined mt-5" href="{% url 'profile' %}">Cancel</a>
        </form>
</div>

{% endblock %}